<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!-- We added requestTimeout="00:20:00" here (20 minutes) to prevent IIS from cutting off long downloads -->
      <aspNetCore processPath=".\yt-dlp_web.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess" requestTimeout="00:20:00" />
    </system.webServer>
  </location>
</configuration>

